#message {
  background-color: #081e24;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  width: 10vw;
  border-radius: 10px;

  position: absolute;
  bottom: -65%;
  right: 32.5%;
}

.messagecontiner {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  padding: 20px;
  margin: auto;
}



.card {
    width: 60px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid black;
background-color: black;
color: white;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
padding-top: 50px;
justify-content: center;
align-items: center;
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px blue, 0 0 70px blue, 0 0 80px blue, 0 0 100px blue, 0 0 150px blue;
}

.card .suit {
    font-size: 30px;
    line-height: 0px;
    justify-content: center;
align-items: center;
}

.card .rank-bottom {
    font-size: 20px;
    line-height: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card .rank-top {
    font-size: 20px;
    line-height: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

button {

background-color: transparent; /* Green */
border: 3px solid #4CAF50;
color: #4CAF50; 
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
text-transform: uppercase;
border-radius: 100px;
cursor: pointer; 
transition: 1.5s;
margin: 5px;
margin-top: 30px;
}

.homebutton:hover {
box-shadow: 0 5px 50px 0 #4CAF50 inset,
      0 5px 50px 0 #4CAF50;
}

.button-box {
position: absolute; /* position the button-box absolutely */
bottom: -170px; /* set the distance from the bottom edge of the parent container */
left: -170px; /* set the distance from the left edge of the parent container */
border: 5px solid purple;
background-color: transparent;
border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-box button {
background-color: transparent;
color: white;
border: none;
padding: 10px;
cursor: pointer;
font-weight: bold;
text-align: center;
bottom: -20px; 
}

.button-box button:hover {
box-shadow: 0 5px 50px 0 purple inset,
      0 5px 50px 0 purple;
}

.button-box-two {
  position: absolute; /* position the button-box absolutely */
  bottom: -170px; /* set the distance from the bottom edge of the parent container */
  right: -170px; /* set the distance from the left edge of the parent container */
  border: 5px solid orange;
  background-color: transparent;
  display: flex; /* display the child elements vertically */
  justify-content: center; /* center the child elements horizontally */
  border-radius: 20px;
}

.button-box-two button {
background-color: transparent;
color: white;
border: none;
padding: 10px;
cursor: pointer;
font-weight: bold;
}

.button-box-two button:hover {
box-shadow: 0 5px 50px 0 orange inset,
      0 5px 50px 0 orange;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
width: 80vw;
background-position: 0;
}

.table {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: green;
    border: 10px solid #8b4513;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #8b4513;
}

.river {
    position: absolute;
    width: 60px;
    height: 90px;
    background-color: transparent;
    top: 155px;
    visibility: hidden;
}

.river:nth-child(1) {
    left: calc(50% - 190px);
}

.river:nth-child(2) {
    left: calc(50% - 110px);
}

.river:nth-child(3) {
    left: calc(50% - 30px);
}

.river:nth-child(4) {
    left: calc(50% + 50px);
}

.river:nth-child(5) {
    left: calc(50% + 130px);
}

#parent {
    position: relative;
  }
  
  body {
    background: #07252d;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
  }
  
  .titlescreen{
    font-family: 'Old Western', cursive;
    font-size: 72px;
    color: #0e3742;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    outline: none;
    animation: animate 20s linear infinite;
    position: relative;
    z-index: 2;
  }
  
  @keyframes animate 
  {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
      color: #fff;
      text-shadow: 0 0 10px #03bcf4,
                  0 0 20px #03bcf4,
                  0 0 40px #03bcf4,
                  0 0 80px #03bcf4,
                  0 0 160px #03bcf4;
    }
    18.1%,28.1%,65%,100%
    {
      color: #0e3742;
      text-shadow: none;
    }
  }
  
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    background: #07252d;
    text-decoration: none;
  }
  
  .titlebuttons {
    background-color: transparent; /* Green */
    border: 3px solid #4CAF50;
    color: #4CAF50; 
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer; 
    transition: 1.5s;
    position: relative;
    z-index: 2;
  }
  
  .titlebuttons:hover {
    box-shadow: 0 5px 50px 0 #4CAF50 inset,
                0 5px 50px 0 #4CAF50;
  }
  
  section
  {
      position: relative;
      width: 100%;
      height: 100vh;
      background: #07252d;
      display: flex;
      flex-direction: column;
      overflow: hidden; 
  }
  
  section .row
  {
      top: -110%;
      position: relative;
      width: 100%;
      display: flex;
      padding: 10px 0;
      white-space: nowrap;
      font-size: 64px;
      transform: rotate(-30deg);
  }
  i 
  {
      color: #081e24;
      transition: 1s;
      padding: 0 5px; 
      user-select: none;
      cursor: default;
  }
  i:hover
  {
      transition: 0s;
      color: #0f0;
      text-shadow: 0 0 120px #0f0;
      opacity: 0.5;
  
  }
  section .row div 
  {
      animation: animate1 80s linear infinite;
      animation-delay: -80s;
  }
  
  section .row div:nth-child(2)
  {
      animation: animate2 80s linear infinite;
      animation-delay: -40s;
  }

.optionbutton {
  background-color: transparent; /* Green */
  border: 3px solid #4CAF50;
  color: #4CAF50; 
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  text-transform: uppercase;
  border-radius: 100px;
  cursor: pointer; 
  transition: 1.5s;
  margin: 100px;
}

.optionbutton:hover {
  box-shadow: 0 5px 50px 0 #4CAF50 inset,
              0 5px 50px 0 #4CAF50;
}
  @keyframes animate1
  {
      0%
      {
          transform: translateX(100%);
      }
      100%
      {
          transform: translateX(-100%);
      }
  }
  @keyframes animate2
  {
      0%
      {
          transform: translateX(0%);
      }
      100%
      {
          transform: translateX(-200%);
      }
  }
  
  
  
  section .row:nth-child(even) div 
  {
      animation: animate3 80s linear infinite;
      animation-delay: -80s;
  }
  
  section .row:nth-child(even) div:nth-child(2)
  {
      animation: animate4 80s linear infinite;
      animation-delay: -40s;
  }



.selectionbutton {
  background-color: transparent; /* Green */
  border: 3px solid #4CAF50;
  color: #4CAF50; 
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  text-transform: uppercase;
  border-radius: 100px;
  cursor: pointer; 
  transition: 1.5s;
  margin: 5px;
  margin-top: 30px;
}

.selectionbutton:hover {
  box-shadow: 0 5px 50px 0 #4CAF50 inset,
              0 5px 50px 0 #4CAF50;
}

.player-one-name {
  font-size: 60px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: purple;
  text-shadow: 0 0 10px purple,
                0 0 20px purple,
                0 0 40px purple,
                0 0 80px purple,
                0 0 160px purple;
}

.player-one {
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #081e24;
  box-shadow: #081e24;
  color: purple;
  font-size: 20px;
  text-shadow: 0 0 10px purple,
                0 0 20px purple,
                0 0 40px purple,
                0 0 80px purple,
                0 0 160px purple;
}

.player-one-icon-box {
  width: 200px;
  height: 200px;
  border: 3px solid purple;
  border-radius: 100px;
  margin: 0 auto;
}

.player-one-name-input {
  color:white;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid purple;
  transition: all 0.3s;
  padding: 13px;
  margin-top: 30px;
  width:80%;
  outline:0;
}

.increasedecrease {
  color: purple;
  font-size: 20px;
  text-shadow: 0 0 10px purple,
                0 0 20px purple,
                0 0 40px purple,
                0 0 80px purple,
                0 0 160px purple;
}

.player-one-buyin {
  color:white;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid purple;
  transition: all 0.3s;
  padding: 13px;
  margin-top: 30px;
  width:50%;
  outline:0;
}

.player-two-buyin {
  color:white;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid orange;
  transition: all 0.3s;
  padding: 13px;
  margin-top: 30px;
  width:50%;
  outline:0;
}



.player-two-name {
  font-size: 60px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: orange;
  text-shadow: 0 0 10px orange,
                0 0 20px orange,
                0 0 40px orange,
                0 0 80px orange,
                0 0 160px orange;
}

.player-two {
  margin-top: 50px;
  margin-bottom: 10px;
  background: #081e24;
  box-shadow: #081e24;
  color: orange;
  font-size: 20px;
  text-shadow: 0 0 10px orange,
                0 0 20px orange,
                0 0 40px orange,
                0 0 80px orange,
                0 0 160px orange;
}

.player-two-icon-box {
  width: 200px;
  height: 200px;
  border: 3px solid orange;
  border-radius: 100px;
  margin: 0 auto;
}

.player-two-name-input {
  color:white;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid orange;
  transition: all 0.3s;
  padding: 13px;
  margin-top: 30px;
  width:80%;
  outline:0;
}
#message {
    color:white;
}

.increasedecreasetwo {
  color: orange;
  margin-bottom: 5px;
  font-size: 20px;
  text-shadow: 0 0 10px orange,
                0 0 20px orange,
                0 0 40px orange,
                0 0 80px orange,
                0 0 160px orange;
}


.seat {
  margin-top: 50px;
  margin-bottom: 10px;
  box-shadow: #081e24;
  color: purple;
  font-size: 20px;
  text-shadow: 0 0 10px purple,
                0 0 20px purple,
                0 0 40px purple,
                0 0 80px purple,
                0 0 160px purple;
  background: #081e24;
  position: flex;
  justify-content: center;
}

.player-one-icon-box-small {
  width: 75px;
  height: 75px;
  border: 3px solid purple;
  border-radius: 100px;
  margin: 0 auto;

  display: flex; /* create a flex container */
  justify-content: center; /* center items horizontally */
  align-items: center; /* center items vertically */
}
  @keyframes animate3
  {
      0%
      {
          transform: translateX(-100%);
      }
      100%
      {
          transform: translateX(100%);
      }
  }
  @keyframes animate4
  {
      0%
      {
          transform: translateX(-200%);
      }
      100%
      {
          transform: translateX(0%);
      }
  }

  .seat-two {
    margin-top: 50px;
    margin-bottom: 10px;
    box-shadow: #081e24;
    color: orange;
    font-size: 20px;
    text-shadow: 0 0 10px orange,
                  0 0 20px orange,
                  0 0 40px orange,
                  0 0 80px orange,
                  0 0 160px orange;
    background: #081e24;
    position: flex;
    justify-content: center;
  }
  
  .player-two-icon-box-small {
    width: 75px;
    height: 75px;
    border: 3px solid orange;
    border-radius: 100px;
    margin: 0 auto;

    display: flex; /* create a flex container */
  justify-content: center; /* center items horizontally */
  align-items: center; /* center items vertically */


  }
    @keyframes animate3
    {
        0%
        {
            transform: translateX(-100%);
        }
        100%
        {
            transform: translateX(100%);
        }
    }
    @keyframes animate4
    {
        0%
        {
            transform: translateX(-200%);
        }
        100%
        {
            transform: translateX(0%);
        }
    }


    .seat-bot {
      margin-top: 50px;
      margin-bottom: 10px;
      box-shadow: #081e24;
      color: #4CAF50;
      font-size: 20px;
      text-shadow: 0 0 10px #4CAF50,
                    0 0 20px #4CAF50,
                    0 0 40px #4CAF50,
                    0 0 80px #4CAF50,
                    0 0 160px #4CAF50;
      background: #081e24;
      

      position: absolute;
  top: -1px;

      z-index: 5;
    }





    .bot-icon-box-small {
      width: 75px;
      height: 75px;
      border: 3px solid #4CAF50;
      border-radius: 100px;
      margin: 0 auto;
      display: flex; /* create a flex container */
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
    }




    .fa-solid fa-user fa-2xl {
      position: absolute;
      bottom: -65%;
      right: 100%;
    }

